<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head(metas, title, links, style)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="${metas}?:~{}"/>

    <title th:replace="${title}?:_">My Bookshelf</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <th:block th:replace="${links}?:~{}"/>

    <style th:replace="${style}?:~{}"></style>
</head>
</html>