<!DOCTYPE html>
<html th:replace="~{layouts/default::layout-main(~{::meta}, ~{::title}, ~{::link}, ~{::style}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>카테고리 - My Bookshelf</title>
    <link href="/css/category-list.css" rel="stylesheet">
</head>

<body>
<main>
<div class="container mt-5">
    <h3 class="mb-4">카테고리</h3>
    <div class="row">
        <div id="categoryList" class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item" th:onclick="|location.href='@{/books/list}'|">전체보기</li>
                <!--카테고리-->
                <li th:each="entry : ${categoryMap}" class="list-group-item" onclick="toggleSubCategoryList(this)">[[${entry.value.name}]]
                    <!--세부 카테고리-->
                    <ul class="list-group mt-2" style="display: none;">
                        <li th:each="subEntry : ${entry.value.subcategories}" class="list-group-item border-0"
                            onclick="toggleSubCategoryList(this)">[[${subEntry.value.name}]]
                            <!--세부 세부 카테고리-->
                            <ul class="list-group mt-2" style="display: none;">
                                <li th:each="subSubEntry : ${subEntry.value.subSubcategories}" class="list-group-item border-0"
                                    th:text="${subSubEntry.value.name}" th:onclick="|location.href='@{/books/list(category=${subSubEntry.key})}'|"></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div id="book-list" class="book-list">
                <p class="text-center" th:if="${booksPage.content.isEmpty()}">조회 가능한 상품이 없습니다.</p>
                <div class="card mb-3" th:each="bookInfo : ${booksPage.content}">
                    <div class="row g-0">
                        <div class="col-md-3 text-center align-self-center">
                            <img th:src="${bookInfo.imageUrl}" alt="Book Cover" class="img-fluid detail-href" th:onclick="|location.href='@{/books/{bookId}(bookId=${bookInfo.id})}'|">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title detail-href" th:text="${bookInfo.title}" th:onclick="|location.href='@{/books/{bookId}(bookId=${bookInfo.id})}'|"></h5>
                                <p class="card-text" th:if="${!bookInfo.subtitle.isBlank}">
                                    <small class="text-muted detail-href" th:text="${bookInfo.subtitle}" th:onclick="|location.href='@{/books/{bookId}(bookId=${bookInfo.id})}'|"></small></p>
                                <p class="card-text text-muted" th:text="${bookInfo.author} + ' &middot; ' + ${#temporals.format(bookInfo.publishedDate, 'yyyy년 MM월 dd일')}"></p>
                                <p class="card-text text-truncate-multiline" th:text="${bookInfo.description}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="badge bg-success" th:text="${bookInfo.discountRate} + '% ' + ${bookInfo.discountPrice}"></span>
                                    <div>
                                        <button class="btn btn-outline-primary">장바구니</button>
                                        <button class="btn btn-primary">바로구매</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination-container">
                <ul id="pagination" class="pagination" th:object="${booksPage}" th:if="${!booksPage.content.isEmpty()}">
                    <!-- Previous Page Button -->
                    <li class="page-item" th:classappend="*{pageable.pageNumber == 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/books/list(page=*{pageable.pageNumber - 1})}">❮</a>
                    </li>

                    <!-- Start Pages with "..." -->
                    <li th:if="*{pageable.pageNumber > 4}" class="page-item">
                        <a class="page-link" th:href="@{/books/list(page=1)}">1</a>
                    </li>
                    <li th:if="*{pageable.pageNumber > 4}" class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>

                    <!-- Middle Pages -->
                    <li th:each="i : *{#numbers.sequence(
                          T(java.lang.Math).max(1, pageable.pageNumber - 3),
                          T(java.lang.Math).min(totalPages, pageable.pageNumber + 3))}"
                        class="page-item" th:classappend="${i == booksPage.pageable.pageNumber} ? 'active'">
                        <a class="page-link" th:href="@{/books/list(page=${i})}" th:text="${i}"></a>
                    </li>

                    <!-- End Pages with "..." -->
                    <li th:if="*{pageable.pageNumber + 3 < totalPages}" class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                    <li th:if="*{pageable.pageNumber + 3 < totalPages}" class="page-item">
                        <a class="page-link" th:href="@{/books/list(page=*{totalPages})}" th:text="*{totalPages}"></a>
                    </li>

                    <!-- Next Page Button -->
                    <li class="page-item" th:classappend="*{pageable.pageNumber == totalPages} ? 'disabled'">
                        <a class="page-link" th:href="@{/books/list(page=*{pageable.pageNumber + 1})}">❯</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
</main>
<script src="/js/product-registration.js"></script>
</body>

</html>
