<!DOCTYPE html>
<html th:replace="~{layouts/default::layout-main(~{::meta}, ~{::title}, ~{::link}, ~{::style}, ~{::main}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입 선택 - My Bookshelf</title>
    <link href="/css/signup.css" rel="stylesheet">
</head>
<body>
<main>
<div class="container">
    <div class="btn-container row">
        <div class="col-md-6">
            <button class="btn btn-primary" th:onclick="|location.href='@{/signup/user}'|">회원가입하기</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-secondary" th:onclick="|location.href='@{/signup/seller}'|">판매자 가입하기</button>
        </div>
    </div>
</div>
</main>
</body>
</html>