<!DOCTYPE html>
<html th:replace="~{layouts/default::layout-main(~{::meta}, ~{::title}, ~{::link}, ~{::style}, ~{::main}, ~{::script})}">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <title>판매자 가입</title>
    <link href="/css/signup-account.css" rel="stylesheet">
</head>
<body>
<main>
<div class="container mt-5">
    <h2 class="text-center mb-4">회원가입</h2>
    <form th:action="@{/signup/user}" th:object="${signup}" method="post">

        <!-- 아이디 입력 -->
        <div class="mb-3 row" id="user">
            <div class="col-sm-8" style="padding-right: 0">
                <label for="username" class="form-label">아이디</label>
                <p id="username-valid" class="is-invalid" th:errors="*{username}">아이디 검증 메시지</p>
                <p id="username-check" style="display: none"></p>
                <input type="text" class="form-control" id="username" maxlength="20"
                       th:field="*{username}" th:errorclass="is-invalid"  placeholder="아이디 입력">
            </div>
            <div class="col-sm-4 align-self-end">
                <button type="button" class="btn btn-secondary w-100" onclick="checkUsername()">중복확인</button>
            </div>
        </div>

        <!-- 비밀번호 입력 -->
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <p class="is-invalid" th:errors="*{password}">비밀번호 검증 메시지</p>
            <input type="password" class="form-control" id="password" maxlength="20"
                   th:field="*{password}" th:errorclass="is-invalid" placeholder="비밀번호 입력">
        </div>

        <!-- 비밀번호 확인 -->
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">비밀번호 확인</label>
            <p class="is-invalid" th:errors="*{passwordConfirm}">비밀번호 확인 검증 메시지</p>
            <p for="passwordConfirm" class="is-invalid" th:each="err:${#fields.globalErrors()}"
                   th:if="${err} == #{FieldsMatch.signup}" th:text="${err}">비밀번호 일치 검증 메시지</p>
            <input type="password" class="form-control" id="passwordConfirm" maxlength="20"
                   th:field="*{passwordConfirm}" th:errorclass="is-invalid" placeholder="비밀번호 확인">
        </div>

        <!-- 이름 입력 -->
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <p class="is-invalid" th:errors="*{name}">이름 검증 메시지</p>
            <input type="text" class="form-control" id="name" maxlength="10" th:field="*{name}"
                   th:errorclass="is-invalid" placeholder="이름 입력">
        </div>

        <!-- 휴대전화 입력 -->
        <div class="mb-3">
            <label for="phone" class="form-label">휴대전화</label>
            <th:block th:if="${#fields.hasErrors('phone.middle') || #fields.hasErrors('phone.last')}">
                <p class="is-invalid" th:text="#{Pattern.phone}">휴대전화 검증 메시지</p>
            </th:block>
            <div class="d-flex align-items-center phone-input-group" id="phone">
                <select class="form-select" id="phonePrefix" th:field="*{phone.prefix}">
                    <option th:each="phonePrefix : ${phonePrefixType}" th:value="${phonePrefix.title}"
                            th:text="${phonePrefix.title}">휴대전화 앞번호</option>
                </select>
                <span>-</span>
                <input type="text" class="form-control" id="phoneMiddle" maxlength="4" th:field="*{phone.middle}"
                       th:errorclass="is-invalid">
                <span>-</span>
                <input type="text" class="form-control" id="phoneLast" maxlength="4"  th:field="*{phone.last}"
                       th:errorclass="is-invalid">
            </div>
        </div>

        <!-- 이메일 입력 -->
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <th:block th:if="${#fields.hasErrors('email.id') || #fields.hasErrors('email.address')}">
                <p class="is-invalid" th:text="#{Pattern.email}">이메일 검증 메시지</p>
            </th:block>
            <div class="row align-items-end" id="email">
                <div class="col-sm-4 justify-content-start">
                    <input type="text" class="form-control" id="emailId" maxlength="20" th:field="*{email.id}"
                           th:errorclass="is-invalid" placeholder="이메일">
                </div>

                <span class="col-sm-1 pb-2" style="padding-left: 0">@</span>

                <input type="text" class="form-control col-sm" id="emailAddress" maxlength="20" th:field="*{email.address}"
                       th:errorclass="is-invalid" th:readonly="*{email.select != 'custom'}">

                <div class="col-sm-3">
                    <select class="form-select" id="addressSelect" th:field="*{email.select}" onchange="updateEmailAddressInput()">
                        <option disabled selected value="">이메일을 선택하세요</option>
                        <option th:each="emailAddress : ${emailAddressType}" th:value="${emailAddress.title}"
                                th:text="${emailAddress.title}">이메일 주소</option>
                        <option value="custom">직접 입력</option>
                    </select>
                </div>
            </div>
        </div>


        <!-- 회원가입 버튼 -->
        <div class="mb-3 mt-4">
            <button type="submit" class="btn btn-primary w-100">회원가입</button>
        </div>
    </form>
</div>
</main>
<script src="/js/signup.js"></script>
</body>
</html>