<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 중간에 있는 페이지</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
        }
        .container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-container {
            width: 100%;
            max-width: 800px;
        }
        .btn {
            width: 100%;
            padding: 20px;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="btn-container row">
        <div class="col-md-6">
            <button class="btn btn-primary" th:onclick="|location.href='@{/signup/user}'|">회원가입하기</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-secondary" th:onclick="|location.href='@{/signup/seller}'|">판매자 가입하기</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>